@import url('https://fonts.cdnfonts.com/css/kelsi');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

/* font-family가 적용되지 않아서 새로 넣었음 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
